<nav class="navbar">
    <a [routerLinkActiveOptions]="{exact: true}" routerLink="/" routerLinkActive="" class="logo">ioTree</a>
    <ul>
        <li><a routerLink="" routerLinkActive="">Solutions</a></li>
        <li><a routerLink="" routerLinkActive="">Support</a></li>
        <li><a routerLink="/devices" routerLinkActive="active">Devices</a></li>
        <li>
            <button routerLink="/devices" class="login-btn">Login</button>
        </li>
        <li>
            <button type="button" routerLink="" class="register-btn">Register</button>
        </li>

    </ul>
</nav>